@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.services{
    max-width: 100%;
    /*background-color: #004f4f;*/
    background-color: #002424;
}

.services__container{
    margin: 0 auto;
    max-width: 100%;
}

.service__img{
    background-image: url("../../img/services.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.service__dark__img{
    background-image: url("../../img/Bg2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.head{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.service{
    display: flex;
    padding-top: 84px;
    width: 218px;
    height: 78px;
    color: #ffffff;
    font-family: "Dela Gothic One";
    font-size: 54px;
    font-weight: 400;
    line-height: 78.19px;
}

.services__text{
    display: flex;
    text-align: center;
    margin-top: 14px;
    width: 555px;
    height: 156.8px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    padding-bottom: 27.2px;
}

.head button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 55px;
    border-radius: 12px;
    background: linear-gradient(180deg, #32ddd4 0%, #1a746f 100%);
    background-blend-mode: normal;
    box-shadow: 0px 11.6px 23.2px rgba(8,35,34,0.56),
    inset 0px 5.95px 5.95px #36ece3,
    inset -0px -5.95px 5.95px #176561;
    margin-bottom: 70px;
}

.head button p{
    padding: 14px 28px;
    width: 96px;
    height: 23px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
}

.directions{
    max-width: 85%;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.directions h2{
    width: 526px;
    height: 58px;
    color: #ffffff;
    font-family: "Dela Gothic One";
    font-size: 40px;
    font-weight: 400;
    line-height: 57.92px;
}

.directions__cards{
    margin-top: 39px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.directions__card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    width: 340px;
    height: 380px;
    background: rgba(0,0,0,0.2);
    background-blend-mode: normal;
    border-radius: 24px;
}

.directions__text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 340px;
    height: 106.97px;
    border-radius: 24px;
    background: rgba(42,181,173,0.4);
    background-blend-mode: normal;
    backdrop-filter: blur(30px);
}

.directions__text p{
    width: 290px;
    height: 21px;
    color: #ffffff;
    font-family: "Dela Gothic One";
    font-size: 14px;
    font-weight: 400;
    line-height: 20.27px;
    text-transform: uppercase;
}

.card__two div p{
    height: 60.54px;
}

.card__one{
    background-image: url("../../img/service1.png");
    background-size: 340px 350px;
}

.card__two{
    background-image: url("../../img/service2.png");
    background-size: 370px 380px;
}

.card__three{
    background-image: url("../../img/service3.png");
    background-size: 360px 380px;
}

.card__four{
    background-image: url("../../img/service4.png");
    background-size: 340px 380px;
}

.card__five{
    background-image: url("../../img/service5.png");
    background-size: 340px 380px;
}

.card__six{
    background-image: url("../../img/service6.png");
    background-size: 340px 380px;
}

.card__seven{
    background-image: url("../../img/service7.png");
    background-size: 380px 380px;
}

.card__eight{
    background-image: url("../../img/service8.png");
    background-size: 390px 380px;
}

.card__nine{
    background-image: url("../../img/service9.png");
    background-size: 340px 380px;
}

.card__ten{
    background-image: url("../../img/service10.png");
    background-size: 340px 380px;
}