@media only screen and (max-width: 1000px) {
    .directions__card {
        width: 320px;
        height: 360px;
    }

    .service {
        width: 195px;
        font-size: 48px;
    }

    .services__text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 900px) {
    .directions__card {
        width: 290px;
        height: 360px;
    }

    .directions__text {
        padding-left: 10px;
    }

    .service {
        width: 181px;
        font-size: 45px;
    }

}

@media only screen and (max-width: 860px) {
    .directions h2 {
        width: 462px;
        font-size: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .service {
        width: 163px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 700px) {
    .service {
        width: 137px;
        font-size: 34px;
        height: 63px;
    }

    .services__text {
        font-size: 13px;
        width: 500px;
    }
}

@media only screen and (max-width: 600px) {
    .service {
        width: 132px;
        font-size: 33px;
    }

    .services__text {
        font-size: 12px;
        width: 452px;
    }
}

@media only screen and (max-width: 560px) {
    .directions h2 {
        width: 422px;
        font-size: 32px;
    }

    .service {
        width: 121px;
        font-size: 30px;
        height: 60px;
    }

    .services__text {
        line-height: 19.4px;
    }
}

@media only screen and (max-width: 500px) {
    .services__text {
        width: 380px;
    }
}

@media only screen and (max-width: 460px) {
    .directions h2 {
        width: 285px;
        font-size: 35px;
        text-align: center;
        line-height: 30.92px;
        height: 64px;
    }


}

@media only screen and (max-width: 450px) {
    .directions__text p {
        padding-left: 0;
        width: 230px;
        font-size: 12px;
        text-align: center;
    }


    .directions__card {
        width: 230px;
        height: 330px;
    }

}

@media only screen and (max-width: 430px) {
    .services__text {
        line-height: 16.4px;
        font-size: 10px;
        width: 280px;
    }
}

@media only screen and (max-width: 420px) {
    .directions h2 {
        width: 240px;
        font-size: 29px;
    }
}